<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <title>Виш листы</title>
</head>
<body>
    <div class="main">
        <div>
            <ul class="menu">
                <li class="menu_wish_btn">
                    <a href="/wishlist" class="menu_wish_btn_text">Виш листы</a>
                </li>
                <li class="menu_friends_btn">
                    <a href="/friends" class="menu_friends_btn_text">Друзья</a>
                </li>
                <li class="menu_profile_btn">
                    <a href="/profile" class="menu_profile_btn_text">Профиль</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>